@page "/healthidlogin"

<button class="btn btn-primary"><a href="https://moph.id.th/oauth/redirect?client_id=019535fe-c5ed-734a-8638-3f5df7587de0&redirect_uri=http://localhost:5225/getaccesstoken/&response_type=code" >Login</a></button>
<button class="btn btn-warning"><a href="https://moph.id.th/oauth/redirect?client_id=019535fe-c5ed-734a-8638-3f5df7587de0&redirect_uri=http://localhost:5225/api/auth/getaccesstoken&response_type=code">
    Login by api
</a></button>