@page "/"
@using HosxpUi.Models
@using HosxpUi.Services
@using Microsoft.AspNetCore.Authorization
@using HosxpUi.Shared
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<p class='text-center'><strong>SKNHIS Version 1.0</strong></p>

<SurveyPrompt Title="เว็บไซต์นี้จัดทำขึ้นในนามสำนักงานดิจิทัลทางการแพทย์ หากท่านมีข้อเสนอแนะ สามารถเสนอแนะได้ที่เบอร์ภายใน 55319,8926" />

